<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:minSdkVersion="30" />
    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="sensorPortrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cryptonite"
        tools:targetApi="31">
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".passwordcheck.PasswordSafetyCheckActivity"
            android:exported="false" />
        <activity
            android:name=".cloud.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".cloud.ChangeEmailActivity"
            android:exported="false" />
        <activity
            android:name=".cloud.AccountManageActivity"
            android:exported="false" />
        <activity
            android:name=".cloud.delete.DeleteActivity"
            android:exported="false" />
        <activity
            android:name=".cloud.download.DownloadActivity"
            android:exported="false" />
        <activity
            android:name=".cloud.CloudActivity"
            android:exported="false" />
        <activity
            android:name=".cloud.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".cloud.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".encryption.RSADecryptActivity"
            android:exported="false" />
        <activity
            android:name=".encryption.RSAEncryptActivity"
            android:exported="false" />
        <activity
            android:name=".encryption.RC4DecryptActivity"
            android:exported="false" />
        <activity
            android:name=".encryption.RC4EncryptActivity"
            android:exported="false" />
        <activity
            android:name=".encryption.GOSTDecryptActivity"
            android:exported="false" />
        <activity
            android:name=".encryption.GOSTEncryptActivity"
            android:exported="false" />
        <activity
            android:name=".encryption.TwofishDecryptActivity"
            android:exported="false" />
        <activity
            android:name=".encryption.TwofishEncryptActivity"
            android:exported="false" />
        <activity
            android:name=".encryption.BlowfishDecryptActivity"
            android:exported="false" />
        <activity
            android:name=".encryption.BlowfishEncryptActivity"
            android:exported="false" />
        <activity
            android:name=".encryption.TripleDESDecryptActivity"
            android:exported="false" />
        <activity
            android:name=".encryption.TripleDESEncryptActivity"
            android:exported="false" />
        <activity
            android:name=".encryption.DESDecryptActivity"
            android:exported="false" />
        <activity
            android:name=".encryption.DESEncryptActivity"
            android:exported="false" />
        <activity
            android:name=".hash.HashFileActivity"
            android:exported="false" />
        <activity
            android:name=".hash.HashTextActivity"
            android:exported="false" />
        <activity
            android:name=".encryption.AESDecryptActivity"
            android:exported="false" />
        <activity
            android:name=".PermissionActivity"
            android:exported="false" />
        <activity
            android:name=".encryption.ChooseCryptTypeActivity"
            android:exported="false" />
        <activity
            android:name=".encryption.AESEncryptActivity"
            android:exported="false" />
        <activity
            android:name=".hash.ChooseHashActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>